<div class="card grey lighten-2">
  <div class="card-image">
    <img><%= image_tag @product.photo %>
  </div>
  <div class="card-content">
    <%= @product.description %></br>
  	<%= @product.cost %> dollars</br>
  	<%= @product.maker %></br>
  </div>
  <%= button_tag "Comments",  class: 'btn' %>
  <%= button_tag "Buy it", class: 'btn' %>

</div>
