<!DOCTYPE html>
<html>
  <head>
    <title>SampleRails5</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Magaz</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in? %>
              <li><%= link_to current_user.email, profile_path %></li>
              <li><%= link_to "Logout", sign_out_path %></li>
            <% else %>
              <li><%= link_to "Registration", sign_up_path %></li>
              <li><%= link_to "Login", sign_in_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <br>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
